.app {
}

.app-logo {
  height: 80px;
}

.app-header {
  text-align: center;
  background-color: #222;
  padding: 20px;
  color: white;
}

.app-footer {
  text-align: center;
  font-size: 14px;
  padding: 50px 0 20px;
}

.bundleCost {
  font-weight: 300;
}